In [1]:
import pandas as pd

In [26]:
mpp = pd.read_excel("C:\Work\Datasets\DigestofUKEnergyStatistics\DUKES_5.11_Powerplants.xls", sheet_name='5.11', header=4, nrows=409)
mpp['Installed Capacity\n(MW)'] = pd.to_numeric(mpp['Installed Capacity\n(MW)'], downcast="float")
mpp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 8 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Company Name                                                  409 non-null    object
 1   Station Name                                                  409 non-null    object
 2   Fuel                                                          409 non-null    object
 3   Technology                                                    409 non-null    object
 4   Installed Capacity
(MW)                                       409 non-null    float32
 5   Year of commission or year generation began                   365 non-null    float64
 6   Location
Scotland, Wales, Northern Ireland or English region  362 non-null    object
 7   Unnamed: 7                                                    11 non-null     object
dtypes: float32(1), float64(1), object(6)
memory usage: 24.1+ KB

In [27]:
mpp.head()

,Company Name,Station Name,Fuel,Technology,Installed Capacity\n(MW),Year of commission or year generation began,"Location\nScotland, Wales, Northern Ireland or English region",Unnamed: 7
0,Anesco,Sandridge,Solar PV,Solar PV,49.619999,2015.0,South West,NaN
1,Anesco,Troughton,Solar PV,Solar PV,30.866039,2016.0,South West,NaN
2,Anesco,Sites with capacity <20 MW,Solar PV,Solar PV,644.454285,NaN,NaN,NaN
3,Atmosclear,Sites with capacity <20 MW,Solar PV,Solar PV,9.400000,NaN,NaN,NaN
4,Babcock International and Fluor Inc,"Maentwrog, LL41 4HY",Hydro Natural Flow,Hydro Natural Flow,35.299999,1928.0,Wales,NaN

In [38]:
company_stats = mpp.groupby('Company Name').sum()
company_stats.sort_values('Installed Capacity\n(MW)', ascending=False)

,Installed Capacity\n(MW),Year of commission or year generation began
Company Name,,
EDF Energy,12142.589844,50006.0
RWE Npower,10893.373047,76316.0
SSE Group,7346.406250,109243.0
Uniper UK,6655.000000,19898.0
Orsted,4310.799805,24165.0
EPUKi,4124.200195,13964.0
Drax Power,3280.000000,11754.0
Vitol,3252.000000,9999.0
Scottish Power,2624.340088,46241.0
Intergen,2560.000000,6004.0
Calon Energy,2221.300049,8013.0
First Hydro Holdings Company,2160.000000,3947.0
ESB,1783.000000,7984.0
Greencoat Capital,1354.619141,40268.0
Energy Capital Partners,1340.000000,3996.0
Co-owned by SSE Group and Cheung Kong Infrastructure Ltd,1234.000000,2000.0
RES Group,1122.509033,40289.0
Vattenfall,1082.300049,20128.0
Octopus Investments,990.104797,10073.0
Marchwood Power,898.000000,2009.0
Lightsource BP,835.769531,16127.0
Scira Offshore Energy,748.000000,14109.0
Anesco,724.940308,4031.0
Venitent Energy Services,688.359985,24084.0
Fred Olsen Renewables,529.700012,16054.0
Toucan Energy Services,487.400024,10076.0
Centrica,459.000000,3987.0
Falck Renewables SpA,415.410004,18098.0
Cubico Sustainable Investments,316.857452,10071.0
WPO UK Services,275.674866,2017.0
Statkraft,233.975006,11977.0
The Banks Group,223.949997,6050.0
Viridor Waste Management,202.800003,14053.0
Sembcorp Utilities,202.276001,5975.0
Eneco Wind UK,200.000000,8058.0
Temporis Capital,196.485992,4031.0
XceCo,194.399994,4016.0
Capital Dynamics Holdings,185.990005,4036.0
Co-owned by SSE Group and Wheelabrator Technologies Inc,158.000000,4034.0
Part of PX Group,155.000000,1995.0
EPR,149.516006,9984.0
BayWa R.E,148.500000,4034.0
Foresight Group,136.860001,4033.0
Pennant Walters,126.000000,8056.0
Ecotricity,88.520004,0.0
Engie Power,83.910004,2010.0
Riverside Resource Recovery,80.000000,2011.0
E.ON,80.000000,4022.0
Bluefield Services,69.788399,2015.0
Wise Energy Limited,66.828598,0.0
LondonEnergy,50.000000,1970.0
Babcock International and Fluor Inc,35.299999,1928.0
Veolia,35.000000,1994.0
Atmosclear,9.400000,0.0

In [40]:
technology_stats = mpp.groupby(['Fuel', 'Technology']).sum()
technology_stats.sort_values('Installed Capacity\n(MW)', ascending=False)

,,Installed Capacity\n(MW),Year of commission or year generation began
Fuel,Technology,,
Natural Gas,CCGT,29490.000000,70032.0
Wind Onshore,Wind Onshore,10610.433594,311860.0
Wind Offshore,Wind Offshore,10409.500000,82541.0
Nuclear AGR,Nuclear AGR,6635.000000,11894.0
Solar PV,Solar PV,4598.305664,70535.0
Coal,Conventional steam,4021.000000,3936.0
Biomass,Conventional steam,3400.417969,26083.0
Pumped hydro,Pumped hydro,2900.000000,7886.0
Hydro Natural Flow,Hydro Natural Flow,1466.126953,41008.0
Sour Gas,CCGT,1380.000000,1996.0
Natural Gas,OCGT,1293.069946,23998.0
Nuclear PWR,Nuclear PWR,1198.000000,1995.0
Diesel/Gas Oil,OCGT,1084.199951,37546.0
Coal/oil,Conventional steam,559.000000,1981.0
Waste (municipal solid waste),Conventional steam,463.000000,14039.0
Diesel/Gas Diesel/Gas Oil,OCGT,228.300003,9912.0
Natural Gas,Conventional steam,120.000000,1952.0
Waste (municipal solid waste),Conventional Steam,111.800003,12039.0